[Unit]
Description=Mount my yandex.disk  
Requires=network.target   
After=network.target 
After=remote-fs.target
 
[Mount]
What="https://webdav.yandex.ru/"
Where=/home/vascom/yandex.disk
Type=davfs
Options=uid=1000,gid=1000
TimeoutSec=600

[Install]
WantedBy=multi-user.target

