[Unit]
Description=Mount asic-tm /sas folder
Requires=network.target   
After=network.target 
After=remote-fs.target
 
[Mount]
What=172.17.0.205:/sas
Where=/home/vascom/asictm
Type=nfs4
#Options=vers=4,rw

[Install]
WantedBy=multi-user.target

